* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    display: block;

    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #333;
    color: white;
}

.header h2 {
    margin: 0;
}

.navi {
    display: flex;
    /*text-decoration: underline; //gạch chân*/
}

.navi a {
    color: white;
    text-decoration: none;
    margin: 0 25px;
    font-weight: 500;
   
}
    
.user-info {
    display: flex;
    align-items: center;
}

.user-info p {
    margin: 0;
    margin-right: 15px;
    font-weight: 500;
}

.form-logout {
    margin: 0;
}

.form-logout input {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.form-logout input:hover {
    background-color: #555;
}
#khuyenmai{
   
    padding-top: 200px;
    padding-left: 40px;
    padding-bottom: 40px;
    display: block;
}


#banner {
    background-color: #ebf3f8;
    color: #444141e0;
    padding: 200px;
    margin-bottom: 20px;
    padding-top: 110px;
}
footer{
    padding-left: 2%;
    background-color: #362f2f;
    color: #fff;
}
.a:hover{
    text-decoration: underline;

}
#gach-chan-home{
    text-decoration: underline;
}
.gioi-thieu{
    padding-bottom: 300px;
    padding-left: 10%;
    padding-top: 5%;
    background-color:#ebf3f8; 
}
.khung-gioi-thieu{
   display: block;
}
.h2-gioi-thieu{
    padding-left: 10%
}
.infor{
    padding-top: 20px;
    padding-bottom: 5%;
}
.li{
    padding-left: 2%;
    
}

.a a{
    transition: 0.5s;
    background-color: red;
}
.list-designer{
    padding-left: 16px;

}
.list li a {
    color: #8fcbe2;
}